<%= render "user/shared/links" %>
<%= form_with model: @user,url: user_registration_path do |f| %>
  <%= render "user/shared/error_messages", resource: resource %>
<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4">
    <div class="card-body">
      <div class="row">
      <div class="col-7 mx-auto">
          <p class="card-text">
            <h4 class="text-center">Signup</h4>
            <p class="field">
              <%= f.text_field:name,style:"border: none",placeholder:"名前" %>
            </p>
            <hr>
            <p class="field">
              <%= f.text_field:user_name,style:"border: none",placeholder:"ユーザー名" %>
            </p>
            <hr>
            <p class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email",style:"border: none",placeholder:"メールアドレス" %>
            </p>
            <hr>
            <p class="field">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password",style:"border: none",placeholder:"パスワード" %>
            </p>
            <hr>
            <p class="field">
              <%= f.password_field :password_confirmation, autocomplete: "new-password",style:"border: none",placeholder:"パスワード（確認用）" %>
            </p>
            <p class="action text-center">
              <%= f.submit "新規登録",class:'btn btn-info' %>
            </p>
          </p>
      </div>
    </div>
    </div>
  </div>
</div>
<% end %>

