<%= form_with model: @user,url: user_path,method: :patch do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-2 text-left">
      <%= link_to 'キャンセル',user_path(@user),class:"btn" %>
    </div>
    <div class="col-md-9 mx-auto text-center">
      <span><strong>プロフィールを編集</strong></span>
    </div>

    <div class="col-md-1">
      <%= f.submit '完了',class:"btn btn-primary" %>
    </div>
  </div>
  <div class="col-lg-10 offset-lg-1">
    <div class="row">
    </div>
  </div>

    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="row field">
          <p>
          <%= f.file_field:profile_image,accept:'image/*' do %>
          <%= image_tag @user.get_profile_image(100,100),class:'rounded-circle' %>
          <% end %>
          </p>
        </div>
        <div class="row field">
          <p>
          <%= f.text_field :user_name, style: "border: none" %>
          </p>
        </div>
        <hr>
        <div class="row field">
          <p><%= f.text_area :intoduction, style: "border: none",size:"50x10" %></p>
        </div>
        <div>
          <%= f.submit '変更を保存',class:'btn btn-sm btn-success' %>
          <%= link_to '退会する',user_unsubscribe_path,class:'btn btn-sm btn-danger' %>
        </div>
      </div>
    </div>
</div>
<% end %>
