<%= render "layouts/header" %>
<h1>タイムライン</h1>
<div class="container">
  <div class="row">
    <div clas="col-md-10">

       <p><%#= link_to "#{@post.comments.count} コメント", post_path(@post.id) %></p>

        <% @feeds.each do |posts| %>
        <div class="card">
        <div class="card-body">
          <div>
            <%= link_to post_path(posts) do %>
            <%#= image_tag posts.user.get_profile_image,size:"50x50" %>
            <% end %>
            <%= posts.user.user_name %>
          </div>
          <div class="card-img-top">
            <%= image_tag posts.get_image,size:"500x400" %>
          </div>
          <div class="card-text">
            <%= posts.text %>
          </div>
        </div>
        <% end %>
    </div>
    </div>
  </div>
</div>