<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">

       <p><%#= link_to "#{@post.comments.count} コメント", post_path(@post.id) %></p>

        <div class="scroll-list jscroll">
          <% @feeds.each do |posts| %>
              <div>
                <p>
                  <%= link_to user_path(@user) do %>
                  <%= image_tag posts.user.get_profile_image(50,50),class:"rounded-circle" %>
                  <% end %>
                  <%= posts.user.user_name %>
                </p>
                <%= link_to post_path(posts) do %>
                <%= image_tag posts.get_image,size:"300x200" %>
                <% end %>
                <% if posts.liked_by?(current_user) %>
                <p>
                  <%= link_to post_likes_path(posts.id),method: :delete do %>
                  <i class="fa-solid fa-heart"></i><%= posts.likes.count %>
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to post_likes_path(posts.id),method: :post do %>
                  <i class="fa-regular fa-heart"></i><%= posts.likes.count %>
                  <% end %>
                </p>
                <p>
                  <%= posts.text %>
                </p>
              </div>
              <% end %>
              <hr>
          <% end %>
        </div>
    </div>
  </div>
</div>
<%= paginate @feeds %>