<h1>タイムライン</h1>
<div class="container">
  <div class="row">
    <div clas="col-md-10">
      <% @posts.each do |posts| %>
        <p><%= image_tag 'jinnbutu.png',class:"rounded-circle",size:"50x50" %></p>
        <p><%= posts.user.user_name %></p>
        <div>
          <p><%= image_tag posts.get_image,size:"500x400" %></p>
          <p><%= posts.created_at.strftime('%Y.%m.%d') %></p>
          <p><%= posts.text %></p>
          <p><%= link_to "#{@post.comments.count} コメント", post_path(@post.id) %></p>
        </div>
        <% end %>
        <% @feeds.each do |posts| %>
        <div>
          <div>
            <%= link_to posts.user.user_name,[posts.user] %>
          </div>
          <div>
            <%= image_tag posts.get_image,size:"500x400" %>
          </div>
          <div>
            <%= posts.text %>
          </div>
        </div>
    </div>
  </div>
</div>