<%= render 'layouts/header' %>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @post,url: posts_path do |f| %>
<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4">
    <div class="card-body">
      <div class="row">
      <div class="col-6">
        <p class="card-title">
          <i class="fa-solid fa-camera-retro">
          </i>
          <%= f.file_field:image,accept:'image/*' do %>
          <% end %>
        </p>
        <hr>
          <p class="card-text">本文
            <%= f.text_area:text,style:"border: none",size:"50x10",placeholder:"ここに入力" %></p>
            <%= f.submit '投稿',class:"btn btn-info" %>
          </p>
      </div>
    </div>
    </div>
  </div>
</div>
<% end %>

