<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/0fcbfc5bc0.js" crossorigin="anonymous"></script>
    <title>patrie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-lg navbar-light  text-white bg-info">

      <div class="container">
      <% if admin_signed_in? %>
      <a class="navbar-brand" href="/admin"><%= image_tag('admin.icon.png',size:"80x80") %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <% elsif user_signed_in? %>
      <a class="navbar-brand" href="/"><%= image_tag('icon.png',size:"80x80") %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>

      <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>